<div class="details">
  <div class="recentOrders">
    <form [formGroup]="saleForm" class="cardHeader">
      <h2>Ventas realizadas en el Sistema</h2>
      <div (change)="seachDate()">
        <span for="date">Fecha:</span>
        <input
          id="date"
          type="date"
          formControlName="date"
          name=""
          id=""
          style="width: 150px"
          (change)="seachDate()"
        />
      </div>
    </form>

    @if( salesList().data.length <= 0 ){ @if(salesList().success){
    <div class="loading-info-container">
      <img
        class="loading-info"
        src="../../../../assets/img/loadin-info.jpg"
        alt="Imagen: No encontrado"
      />
      <h2 style="color: #2a2185">
        No existe ninguna Coincidencia para la Busqueda
      </h2>
    </div>
    } @else {
    <h1>Cargando data.....</h1>
    } } @else {
    <table>
      <thead>
        <tr>
          <td>Producto</td>
          <td>Fecha</td>
          <td>Cantidad</td>
          <td>Precio</td>
        </tr>
      </thead>
      <tbody>
        @for (item of salesList().data ; track $index) {
        <tr>
          <td>{{ item.product }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.cantToBuy }}</td>
          <td>{{ item.price }}</td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
